body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  box-sizing: border-box; /* ensure padding and border don't affect width/height */
}

.line{
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 100px;
}

.project-line{
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 50px;
}

.info-container{
  position: relative;
}

.section-1 {
  height: 100vh;
}


/* Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons */

.cont {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-x: hidden;
}


 .container{
  animation: animate 4s linear infinite;
  position: relative;
  /* overflow: hidden; */
 }
 @keyframes animate {
  0% {
    filter: hue-rotate(0deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
 }

 .row{
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
 }

 .row:nth-child(even) {
  margin-left: 1px;
 }

 .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #111;
  margin: 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
 }

 .hexagon:hover {
  transition: 0s;
  background-color: green;
 }

 .hexagon::after{
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color: #111;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
 }

 .hexagon:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255,255,255, 0.02);
  z-index: 1000;
 }

 /* Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons Hexagons */


 /* Button Button Button Button Button Button Button Button Button Button Button Button  */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.home-link{
  text-decoration: none;
  color: black;
}

/* Button Button Button Button Button Button Button Button Button Button Button Button  */

.home-cont {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* About About About About About About About About About About  */

.section-2{
  z-index: 100;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  height: 100vh;
}

.about{
  margin-top: 65px;
  margin-bottom: 10px;
}

.attributes{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.att-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.att-pic{
  width: 70px;
  height: 80px;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.about-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.about-me{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.about-img{
  width: 150px;
  height: 160px;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 300px;
  background-color: blue;
}

.skills-title{
  margin-top: 0px;
  width: 100%;
  text-align: center;
  background-color: black;
}

.skill-cont{
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.skill-title{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 0px;
  background-color: black;
  border: solid 1px black;
  border-bottom: none;
}

.skill-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  /* width: 40%; */
  justify-content: center;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.skill-list{
  padding-left: 0;
  background-color: #3e8e41;
  width: 100%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill{
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px black;
  width: 100%;
  text-align: center;
}

/* About About About About About About About About About About  */

/* Projects Projects Projects Projects Projects Projects Projects */

.section-3{
  z-index: 100;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  /* height: 100vh; */
}

.project-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.projects{
  margin-top: 65px;
  margin-bottom: 10px;
}

.project {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 10px;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.project:hover .project-btn {
  display: block;
}

.project:hover .project-img {
  opacity: 0.1;
}


.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 0.5s;
}

.project-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff5500;
  width: 100%;
  padding-bottom: 20px;
}


.project-lang{
  text-align: center;
  margin: 0 auto;
}


.project-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.project-btn:hover {
  background-color: #ff7700;
}


.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.show{
  display: block;}

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.close {
position: absolute;
top: 0px; 
right: 1px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-img{
  width: 100%;
}

.modal-title{
  width: 100%;
  text-align: center;
}

.modal-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-btn{
  width: 100px;
  padding: 10px 20px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: #ff7700;
}

hr{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}



/* Projects Projects Projects Projects Projects Projects Projects */

/* Contact Contact Contact Contact Contact Contact Contact Contact */

.section-4{
  /* z-index: 100; */
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  height: 100vh;
}

.contact{
  margin-top: 65px;
  margin-bottom: 10px;
}

form {
  max-width: 70%;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-top: 0px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.message-area{
  height: 200px;
}

input[type="submit"] {
  background-color: #2e4484;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
.email-form{
  padding-right: 0rem;
}

/* Contact Contact Contact Contact Contact Contact Contact Contact */

/* Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar */

.navbar{
  width: 99.8%;
  background-color: black;
  border: white solid 1px;
  padding: 0px;
  position: sticky;
  top: 0px;
  overflow: hidden;
  z-index: 1000;
  margin: 0px;
  display: flex;
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-left: 20px;
   color: white;
   height: 100%;
}

.nav-link{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  transition: background-color 0.20s;
  height: 100%;
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  color: white;
}

.nav-link-active{
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  transition: background-color 0.20s;
  height: 100%;
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background-color: red; 
  cursor: pointer;
}

html{
  scroll-behavior: smooth;
}




/* Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar */


@media screen and (max-width: 580px) {

  .cont{
    overflow-y: hidden;
  }


  /* Home Home Home Home Home Home Home Home Home Home Home Home */

  .taylor{
    margin-bottom: 20px;
    text-align: center;
  }

  .full-stack{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .web-dev{
    margin-top: 0px;
  }

  /* Home Home Home Home Home Home Home Home Home Home Home Home */

  /* Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar */


  .nav-links{
    margin-left: 0px;
  }

  .nav-link:hover{
    background-color: black;
  }

  /* Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar */



  /* About About About About About About About About About */

  .section-2{
    height: auto;
  }

  .about{
    margin-bottom: 2px;
  }

  .about-info{
    flex-direction: column;
    margin-top: 0px;
  }

  .line{
    margin-bottom: 5px;
  }

  .attributes{
  flex-wrap: wrap;
  margin-top: 30px;
  }

  .att-cont{
    width: 50%;
    margin-bottom: 20px;
  }

  .att-title{
    margin: 0;
    text-align: center;
    font-size: 15px;
  }

  .att-info{
    margin: 0;
    text-align: center;
    font-size: 10px;
  }

  .att-pic{
    width: 50px;
    height: 55px;
  }

  .about-info-sect{
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin-top: 20px;
  }

  .about-disc{
    width: 300px;
  }

  .skills{
    width: 100%;
    margin-bottom: 20px;
  }

  .about-img{
    width: 100px;
    height: 110px;
  }

  /* About About About About About About About About About */

  /* Projects Projects Projects Projects Projects Projects Projects */

  .section-3{
    height: auto;
  }

.projects{
  margin-bottom: 2px;
}

.project-line{
  margin-bottom: 20px;
}

.project-cont{
  width: 100%;
}

.project{
  width: 300px;
  height: 300px;
}

.project-info{
  margin-bottom: 0px;
}

.project-btn {
  height: 50px;
  width: 100px;
}

.modal{
  z-index: 1000;
}

.project-lang{
  margin-bottom: 10px;
}


  /* Projects Projects Projects Projects Projects Projects Projects */

  /* Contact Contact Contact Contact Contact Contact Contact Contact */

  .section-4{
    z-index: 0;
  }

  .contact{
    margin-bottom: 2px;
  }

  .email-form{
  margin-bottom: 15px;
  }

  form {
    min-width: 300px;
  }

  /* Contact Contact Contact Contact Contact Contact Contact Contact */
}

@media screen and (max-width: 900px) and (min-width: 581px) {

  .cont{
    overflow-y: hidden;
  }

  .att-title{
    margin: 0;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .att-info{
    margin: 0;
    text-align: center;
    font-size: 13px;
  }

  .skills{
    width: 350px;
  }

  .skill-group{
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1690px) {
  .section-3{
    height: 100vh;
  }
}

/* @media  screen and (min-width: 1274px) {
  .project {
    width: calc(400px - 10px);
  } */
  
/* } */
  

